{
  "presets": [
    "env",
    "es2017"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-async-to-generator",
    "transform-class-properties"
  ],
  "sourceMaps": true
}